<!DOCTYPE HTML>
<html>
	<head>
		<title>小羊羊的网站</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<a href="index.html" class="logo"><strong>小刘制造</strong></a>
								</header>

							<!-- Banner -->
								<section id="banner">
									<div class="content">
										<header>
											<h1>欢迎来到<br/>
												小刘和小杨之家
											</h1>
											<p>这是属于羊羊和牛牛的独家记忆</p>
										</header>
										<p>这个个人网站用来记录属于我们的瞬间，它于2023年7月28日倩倩娃的生日开始上线，用于记录我们从2020年10月22日开始的点点滴滴</p>
									</div>
									<span class="image object">
										<img src="images/index.jpg" alt="" />
									</span>
								</section>

							
								

							<!-- Section -->
							<section>
								<header class="major">
									<h2>时刻</h2>
								</header>
								<div class="posts">
									<article>
										<a href="#" class="image"><img src="images/fact1_3.png" alt="" style="height: 400px;width: auto;"/></a>
										<h3 class="icon solid fa-home">&nbsp;2020/12/27&2021/1/7 成都理工</h3>
										<!-- <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p> -->
										<ul class="actions">
											<li><a href="fact_1.html" class="button">More</a></li>
										</ul>
									</article>
									<article>
										<a href="#" class="image"><img src="images/fact1_1.png" alt="" style="height: 400px;width: auto;"/></a>
										<h3 class="icon solid fa-home">&nbsp;2020/12/27 成都理工</h3>
										<!-- <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p> -->
										<ul class="actions">
											<li><a href="fact_2.html" class="button">More</a></li>
										</ul>
									</article>
									<article>
										<a href="#" class="image"><img src="images/us2.jpg" alt="" /></a>
										<h3>小刘第一次到绵阳，过了个五一护送倩倩娃回成都</h3>
										<!-- <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p> -->
										<ul class="actions">
											<li><a href="#" class="button">More</a></li>
										</ul>
									</article>
									<article>
										<a href="#" class="image"><img src="images/us1.jpg" alt="" /></a>
										<h3>小刘和倩倩娃第一次在外面旅游，在四姑娘山双桥沟</h3>
										<!-- <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p> -->
										<ul class="actions">
											<li><a href="#" class="button">More</a></li>
										</ul>
									</article>
									
									<article>
										<a href="#" class="image"><img src="images/fact2.jpg" alt="" /></a>
										<h3>倩倩娃的23岁生日，心爱的照片</h3>
										<!-- <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p> -->
										<ul class="actions">
											<li><a href="#" class="button">More</a></li>
										</ul>
									</article>
									<article>
										<a href="#" class="image"><img src="images/fact1.jpg" alt="" /></a>
										<h3>22年的520给倩倩娃送了最心爱的一束花，也是我觉得最可爱的照片</h3>
										<!-- <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p> -->
										<ul class="actions">
											<li><a href="#" class="button">More</a></li>
										</ul>
									</article>
									
								</div>
							</section>

						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">
							

							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>菜单</h2>
									</header>
									<ul>
										<li><a href="index.html">主页</a></li>
										<li><a href="memorandum.html">备忘录</a></li>
										<li><a href="elements.html">照片瞬间</a></li>
										<!-- <li>
											<span class="opener">Submenu</span>
											<ul>
												<li><a href="#">Lorem Dolor</a></li>
												<li><a href="#">Ipsum Adipiscing</a></li>
												<li><a href="#">Tempus Magna</a></li>
												<li><a href="#">Feugiat Veroeros</a></li>
											</ul>
										</li> -->
									</ul>
								</nav>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>Ti amo Qianqian</h2>
									</header>
									<div class="mini-posts">
										<article>
											<a href="#" class="image"><img src="images/left1.jpg" alt="" /></a>
											<p>你带笑地向我走来，<br/>
												月色和雪色之间，<br/>
												你是第三种绝色。</p>
										</article>
										<article>
											<a href="#" class="image"><img src="images/left2.jpg" alt="" /></a>
											<p>祝你今天愉快，<br/>
												你明天的愉快留着我明天再祝。</p>
										</article>
										<article>
											<a href="#" class="image"><img src="images/left3.jpg" alt="" /></a>
											<p>我的心是旷野的鸟，<br/>
												在你的眼里找到了天空。</p>
										</article>
									</div>
								</section>

							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">&copy; 本站版权由倩倩娃所有.</p>
								</footer>

						</div>
					</div>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>